USE [master]
GO
/****** Object:  Database [QLXM]    Script Date: 5/17/2024 1:06:13 AM ******/
CREATE DATABASE [QLXM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLMX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLMX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLMX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLXM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLXM]
GO
/****** Object:  Table [dbo].[BAO_HANH]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAO_HANH](
	[MA_BH] [nvarchar](40) NOT NULL,
	[MA_XE] [nvarchar](40) NULL,
	[MA_NV] [nvarchar](40) NULL,
	[MA_KH] [nvarchar](40) NULL,
	[NGAY_LAP] [nvarchar](40) NULL,
	[NGAY_TRA_XE] [nvarchar](40) NULL,
	[MO_TA] [nvarchar](200) NULL,
 CONSTRAINT [PK_BAO_HANH] PRIMARY KEY CLUSTERED 
(
	[MA_BH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOA_DON_BAN]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON_BAN](
	[MA_CTHDB] [nvarchar](40) NOT NULL,
	[MA_HDB] [nvarchar](40) NULL,
	[MA_XE] [nvarchar](40) NULL,
	[GIA] [bigint] NULL,
	[SO_LUONG] [int] NULL,
	[GIA_BAN] [bigint] NULL,
 CONSTRAINT [PK_CT_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MA_CTHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOA_DON_NHAP]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON_NHAP](
	[MA_CTHDN] [nvarchar](40) NOT NULL,
	[MA_XE] [nvarchar](40) NULL,
	[MA_HDN] [nvarchar](40) NULL,
	[GIA] [bigint] NULL,
	[SO_LUONG] [int] NULL,
	[GIA_NHAP] [bigint] NULL,
 CONSTRAINT [PK_CT_HOA_DON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_CTHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_XE]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_XE](
	[MA_HANG] [nvarchar](40) NOT NULL,
	[TEN_HANG] [nvarchar](40) NULL,
	[MO_TA] [nvarchar](200) NULL,
 CONSTRAINT [PK_HANG_XE] PRIMARY KEY CLUSTERED 
(
	[MA_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_BAN]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_BAN](
	[MA_HDB] [nvarchar](40) NOT NULL,
	[MA_KH] [nvarchar](40) NULL,
	[MA_NV] [nvarchar](40) NULL,
	[NGAY_LAP] [nvarchar](40) NULL,
	[THANH_TOAN] [bigint] NULL,
 CONSTRAINT [PK_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MA_HDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_NHAP]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_NHAP](
	[MA_HDN] [nvarchar](40) NOT NULL,
	[MA_NV] [nvarchar](40) NULL,
	[NGAY_LAP] [nvarchar](40) NULL,
	[TONG_TIEN] [bigint] NULL,
 CONSTRAINT [PK_HOA_DON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_HDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [nvarchar](40) NOT NULL,
	[TEN_KH] [nvarchar](40) NULL,
	[GIOI_TINH] [nvarchar](40) NULL,
	[DIA_CHI] [nvarchar](40) NULL,
	[SDT] [int] NULL,
	[NGAY_CAP_NHAT] [nvarchar](40) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_XE]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_XE](
	[MA_LOAI] [nvarchar](40) NOT NULL,
	[TEN_LOAI_XE] [nvarchar](40) NULL,
	[MO_TA] [nvarchar](200) NULL,
 CONSTRAINT [PK_LOAI_XE] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAU_XE]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU_XE](
	[MA_MAU] [nvarchar](40) NOT NULL,
	[TEN_MAU] [nvarchar](40) NULL,
 CONSTRAINT [PK_MAU_XE] PRIMARY KEY CLUSTERED 
(
	[MA_MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [nvarchar](40) NOT NULL,
	[USERNAME] [nvarchar](40) NULL,
	[PASS] [nvarchar](40) NULL,
	[HO_TEN] [nvarchar](40) NULL,
	[GIOI_TINH] [nvarchar](40) NULL,
	[DIA_CHI] [nvarchar](40) NULL,
	[MA_CHUC_VU] [nvarchar](40) NULL,
	[SDT] [int] NULL,
	[GMAIL] [nvarchar](40) NULL,
	[GHI_CHU] [nvarchar](40) NULL,
	[TRANG_THAI] [int] NULL,
	[NGAY_NGHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE_MAY]    Script Date: 5/17/2024 1:06:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE_MAY](
	[MA_XE] [nvarchar](40) NOT NULL,
	[TEN_XE] [nvarchar](40) NULL,
	[GIA] [bigint] NULL,
	[MA_LOAI] [nvarchar](40) NULL,
	[MA_MAU] [nvarchar](40) NULL,
	[MA_HANG] [nvarchar](40) NULL,
	[SO_KHUNG] [nvarchar](40) NULL,
	[DUNG_TICH] [nvarchar](40) NULL,
	[TON_KHO] [int] NULL,
	[TRANG_THAI] [int] NULL,
	[THOI_GIAN_BH] [nvarchar](40) NULL,
	[GIA_NHAP] [bigint] NULL,
 CONSTRAINT [PK_XE_MAY] PRIMARY KEY CLUSTERED 
(
	[MA_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAO_HANH]  WITH CHECK ADD  CONSTRAINT [BAO_HANH_fk0] FOREIGN KEY([MA_XE])
REFERENCES [dbo].[XE_MAY] ([MA_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAO_HANH] CHECK CONSTRAINT [BAO_HANH_fk0]
GO
ALTER TABLE [dbo].[BAO_HANH]  WITH CHECK ADD  CONSTRAINT [BAO_HANH_fk1] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAO_HANH] CHECK CONSTRAINT [BAO_HANH_fk1]
GO
ALTER TABLE [dbo].[BAO_HANH]  WITH CHECK ADD  CONSTRAINT [BAO_HANH_fk2] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAO_HANH] CHECK CONSTRAINT [BAO_HANH_fk2]
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [CT_HOA_DON_BAN_fk0] FOREIGN KEY([MA_HDB])
REFERENCES [dbo].[HOA_DON_BAN] ([MA_HDB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN] CHECK CONSTRAINT [CT_HOA_DON_BAN_fk0]
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [CT_HOA_DON_BAN_fk1] FOREIGN KEY([MA_XE])
REFERENCES [dbo].[XE_MAY] ([MA_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN] CHECK CONSTRAINT [CT_HOA_DON_BAN_fk1]
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [CT_HOA_DON_NHAP_fk0] FOREIGN KEY([MA_XE])
REFERENCES [dbo].[XE_MAY] ([MA_XE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP] CHECK CONSTRAINT [CT_HOA_DON_NHAP_fk0]
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [CT_HOA_DON_NHAP_fk1] FOREIGN KEY([MA_HDN])
REFERENCES [dbo].[HOA_DON_NHAP] ([MA_HDN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP] CHECK CONSTRAINT [CT_HOA_DON_NHAP_fk1]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [HOA_DON_BAN_fk0] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [HOA_DON_BAN_fk0]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [HOA_DON_BAN_fk1] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [HOA_DON_BAN_fk1]
GO
ALTER TABLE [dbo].[HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [HOA_DON_NHAP_fk0] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_NHAP] CHECK CONSTRAINT [HOA_DON_NHAP_fk0]
GO
ALTER TABLE [dbo].[XE_MAY]  WITH CHECK ADD  CONSTRAINT [XE_MAY_fk0] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_XE] ([MA_LOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XE_MAY] CHECK CONSTRAINT [XE_MAY_fk0]
GO
ALTER TABLE [dbo].[XE_MAY]  WITH CHECK ADD  CONSTRAINT [XE_MAY_fk1] FOREIGN KEY([MA_MAU])
REFERENCES [dbo].[MAU_XE] ([MA_MAU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XE_MAY] CHECK CONSTRAINT [XE_MAY_fk1]
GO
ALTER TABLE [dbo].[XE_MAY]  WITH CHECK ADD  CONSTRAINT [XE_MAY_fk2] FOREIGN KEY([MA_HANG])
REFERENCES [dbo].[HANG_XE] ([MA_HANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XE_MAY] CHECK CONSTRAINT [XE_MAY_fk2]
GO
USE [master]
GO
